<section class="service">

  <header class="d-flex justify-content-between align-items-center">
    <h2 class="h2 article-title">Service</h2>
    <a class="btn hoverbtn" (click)="openPopup()">
      Add Service
    </a>
  </header>

  <!-- لو في لودينج -->
  <div *ngIf="loading()">Loading...</div>

  <!-- لو مفيش خدمات -->
  <div *ngIf="!loading() && services().length === 0">
        <h2 class="h3 article-title text-center">No services found.</h2>

  </div>

  <!-- عرض الخدمات -->
  <ul class="service-list" *ngIf="!loading() && services().length > 0">
    <li class="service-item position-relative" *ngFor="let service of services()">
      
      <!-- زرار الحذف -->
      <div class="iconDelete icon text-white" (click)="deleteService(service.id)">
        <i class="fa-regular fa-trash-can"></i>
      </div>

      <!-- الأيقونة -->
      <div class="service-icon-box">
        <!-- لو عندك صورة جاية من الـ API -->
        <img [src]="'images/icon-dev.svg'" alt="service icon" width="40">
      </div>

      <!-- التفاصيل -->
      <div class="service-content-box">
        <h4 class="h4 service-item-title">{{ service.title }}</h4>
        <p class="service-item-text">
          {{ service.description }}
        </p>
      </div>

    </li>
  </ul>

</section>

  
<div class="popup-backdrop" *ngIf="isOpen">
  <div class="popup">
    <div class="popup-header">
      <h3>        Add Service</h3>
      <button class="close-btn" (click)="closePopup()">×</button>
    </div>

    <form class="popup-body" [formGroup]="formService">
      <label>Title Service</label>
      <input type="text" formControlName="title" placeholder="Enter Topic Name">

      <!-- <label>Topic Icon</label>
      <input type="text" formControlName="icon" placeholder="Icon URL or class"> -->

          <input type="file" #fileInput hidden (change)="onFileSelected($event)" accept="image/*">
      

      <label>Service Description</label>
      <textarea formControlName="description" rows="3" placeholder="Enter Description"></textarea>
    </form>

    <div class="popup-footer">
      <button class="save-btn" (click)="save()">Done </button>
    </div>
  </div>
</div>