
  <section class="service">

    <header class="d-flex justify-content-between align-items-center">
      <h2 class="h2 article-title">Service</h2>
       <a  class="btn hoverbtn"  (click)="openPopup()">
        Add Service
      </a>
    </header>
    <ul class="service-list">

      <li class="service-item">

        <div class="service-icon-box">
          <img src="images/icon-dev.svg" alt="Web development icon" width="40">
        </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">Front-End Developer</h4>

          <p class="service-item-text">
            High-quality development of sites at the professional level.
          </p>
        </div>

      </li>
      <li class="service-item">

        <div class="service-icon-box">
          <img src="images/icon-dev.svg" alt="Web development icon" width="40">
        </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">Front-End Developer</h4>

          <p class="service-item-text">
            High-quality development of sites at the professional level.
          </p>
        </div>

      </li>
      <li class="service-item">

        <div class="service-icon-box">
          <img src="images/icon-dev.svg" alt="Web development icon" width="40">
        </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">Front-End Developer</h4>

          <p class="service-item-text">
            High-quality development of sites at the professional level.
          </p>
        </div>

      </li>
      <li class="service-item">

        <div class="service-icon-box">
          <img src="images/icon-design.svg
                  " alt="design icon" width="40">
        </div>

        <div class="service-content-box">
          <h4 class="h4 service-item-title">UI & UX Design</h4>

          <p class="service-item-text">Creative Visionary: Junior UI/UX Designer Passionate about Crafting
            Intuitive Digital Experiences
          </p>
        </div>

      </li>
    </ul>

  </section>


  
<div class="popup-backdrop" *ngIf="isOpen">
  <div class="popup">
    <div class="popup-header">
      <h3>        Add Service</h3>
      <button class="close-btn" (click)="closePopup()">×</button>
    </div>

    <form class="popup-body" [formGroup]="formService">
      <label>Title Service</label>
      <input type="text" formControlName="title" placeholder="Enter Topic Name">

      <!-- <label>Topic Icon</label>
      <input type="text" formControlName="icon" placeholder="Icon URL or class"> -->

          <input type="file" #fileInput hidden (change)="onFileSelected($event)" accept="image/*">
      

      <label>Service Description</label>
      <textarea formControlName="description" rows="3" placeholder="Enter Description"></textarea>
    </form>

    <div class="popup-footer">
      <button class="save-btn" (click)="save()">Done </button>
    </div>
  </div>
</div>