<article class="blog active activeScroll" data-page="certificates">
  <header class="d-flex align-items-start headerText">
    <h2 class="h2 article-title">Certificates</h2>
    <a class="btn hoverbtn" (click)="openPopup()"> Add Certificate </a>
  </header>

  <section class="blog-posts">
    <ul class="blog-posts-list">
      <li class="blog-post-item" *ngFor="let cert of certificates()">
        <a >
          <figure class="blog-banner-box">
            <img [src]="baseurlFile + cert.photoUrl" [alt]="cert.title" loading="lazy">
          </figure>
          
          <div class="blog-content">
            <div class="blog-meta justify-content-between">
              <p class="blog-category m-0">{{ cert.organization }}</p>
              <time class="d-flex align-items-center gap-2">
                <span class="dot"></span>
                {{ cert.createdOn | date }}
              </time>
            </div>
            <h3 class="h3 blog-item-title">{{ cert.title }}</h3>
            <p class="blog-text">{{ cert.description }}</p>
          </div>
                 <div class="iconDelete icon text-white" (click)="deleteCertificate(cert.id)">
            <i class="fa-regular fa-trash-can"></i>
          </div>
    
        </a>
 
      </li>
    </ul>
  </section>
</article>

<!-- Popup -->
<div class="popup-backdrop" *ngIf="isOpen">
  <div class="popup">
    <div class="popup-header">
      <h3>Add Certificate</h3>
      <button class="close-btn" (click)="closePopup()">×</button>
    </div>

    <form class="popup-body" [formGroup]="formCertificate">
      <div class="upload-box" (click)="triggerFileInput()" [ngClass]="{ 'has-image': previewUrl() }">
        <ng-container *ngIf="previewUrl(); else placeholder">
          <img [src]="baseurlFile + previewUrl()" alt="Preview" class="preview-img" />
        </ng-container>
        <ng-template #placeholder>
          <div class="d-flex justify-content-center align-items-center gap-3">
            <i class="fa fa-image"></i>
            <span>Upload Certificate photo</span>
          </div>
        </ng-template>
      </div>
      <input type="file" #fileInput hidden (change)="onFileSelected($event)" accept="image/*" />

      <label>Organization</label>
      <input type="text" formControlName="organization" placeholder="Enter Organization" />

      <label>Title</label>
      <input type="text" formControlName="title" placeholder="Enter Certificate Title" />

      <label>Description</label>
      <textarea formControlName="description" rows="3" placeholder="Enter Description"></textarea>

      <label>Date</label>
      <input type="date" formControlName="createdOn" />
    </form>

    <div class="popup-footer">
      <button class="save-btn" (click)="save()">Done</button>
    </div>
  </div>
</div>
