<section class="service">
  <header class="d-flex justify-content-between align-items-center">
    <h2 class="h2 article-title">Skills</h2>
  </header>


<section class="skills">
  <div class="skills-wrapper">
    <div class="skill-circle" *ngFor="let skill of techSkills">
      <img [src]="baseurlFile + skill.photoUrl" [alt]="skill.name" />
    </div>
  </div>
</section>

</section>


<section class="service">
  <header class="d-flex justify-content-between align-items-center">
    <h2 class="h2 article-title">Technical</h2>
  </header>


<section class="skills">
  <div class="skills-wrapper">
    <div class="skill-circle" *ngFor="let skill of normalSkills">
      <img [src]="baseurlFile + skill.photoUrl" [alt]="skill.name" />
    </div>
  </div>
</section>

</section>
