   <article class="portfolio active activeScroll" data-page="portfolio">

          <header>
            <h2 class="h2 article-title">Portfolio</h2>
          </header>

          <section class="projects">



           

   <ul class="project-list">
  <li 
    class="project-item active" 
    data-filter-item 
    *ngFor="let project of projects" 
    [attr.data-category]="project.category.toLowerCase()">

    <a [href]="project.link" target="_blank">
      <figure class="project-img">
        <div class="project-item-icon-box">
          <i class="fa-regular fa-eye"></i>
        </div>
        <img [src]="project.image" [alt]="project.title" loading="lazy">
      </figure>
      <h3 class="project-title">{{ project.title }}</h3>
      <p class="project-category">{{ project.category }}</p>
      <div class="gruop">
        <span class="type" *ngFor="let type of project.types">{{ type }}</span>
      </div>
    </a>

  </li>
</ul>


          </section>

        </article>
