   <article class="portfolio active activeScroll" data-page="portfolio">

          <header>
            <h2 class="h2 article-title">Portfolio</h2>
          </header>

    
  <section class="projects">
    <ul class="project-list">
      <li class="project-item active" data-filter-item *ngFor="let project of projects()">
        <a  target="_blank">
          <figure class="project-img">
            <a class="project-item-icon-box" [href]="project.url">
              <i class="fa-regular fa-eye"></i>
            </a>
            <img [src]="baseurlFile + project.photoUrl" [alt]="project.name" loading="lazy" />
          </figure>
          <h3 class="project-title">{{ project.name }}</h3>
          <p class="project-category">{{ project.description }}</p>
          <div class="gruop">
            <span class="type" *ngFor="let type of project.tags">{{ type }}</span>
          </div>
   
        </a>
      </li>
    </ul>
  </section>
</article>
