   <article class="portfolio active" data-page="portfolio">

          <header>
            <h2 class="h2 article-title">Portfolio</h2>
          </header>

          <section class="projects">



            <div class="filter-select-box">

              <button class="filter-select" data-select>

                <div class="select-value" data-selecct-value>Select category</div>

                <div class="select-icon">
            <i class="fa-solid fa-chevron-down"></i>
                </div>

              </button>

              <ul class="select-list">

                <li class="select-item">
                  <button data-select-item>All</button>
                </li>

                <li class="select-item">
                  <button data-select-item>Frontend</button>
                </li>

                <li class="select-item">
                  <button data-select-item>UI UX</button>
                </li>


              </ul>

            </div>

   <ul class="project-list">
  <li 
    class="project-item active" 
    data-filter-item 
    *ngFor="let project of projects" 
    [attr.data-category]="project.category.toLowerCase()">

    <a [href]="project.link" target="_blank">
      <figure class="project-img">
        <div class="project-item-icon-box">
          <i class="fa-regular fa-eye"></i>
        </div>
        <img [src]="project.image" [alt]="project.title" loading="lazy">
      </figure>
      <h3 class="project-title">{{ project.title }}</h3>
      <p class="project-category">{{ project.category }}</p>
      <div class="gruop">
        <span class="type" *ngFor="let type of project.types">{{ type }}</span>
      </div>
    </a>

  </li>
</ul>


          </section>

        </article>
