<section class="timeline">
  <div class="d-flex justify-content-between align-items-center">
    <div class="title-wrapper">
      <div class="icon-box">
        <i class="fa-solid fa-book"></i>
      </div>
      <h3 class="h3">Education</h3>
    </div>
    <a class="btn hoverbtn" (click)="openPopup()">Add Education</a>
  </div>

  <ol class="timeline-list">
    <li class="timeline-item" *ngFor="let edu of educations()">
      <div class="d-flex justify-content-between align-items-start">
        <h4 class="h4 timeline-item-title mb-0">{{ edu.name }}, {{ edu.degree }}</h4>
        <span class="d-flex align-items-center gap-4">
          {{ edu.from | date:'MMMM yyyy' }} — {{ edu.to | date:'MMMM yyyy' }}
          <span class="iconDelete icon text-white" (click)="deleteEducation(edu.id)">
            <i class="fa-regular fa-trash-can"></i>
          </span>
        </span>
      </div>
      <p class="timeline-text">{{ edu.description }}</p>
    </li>
  </ol>
</section>

<div class="popup-backdrop" *ngIf="isOpen">
  <div class="popup">
    <div class="popup-header">
      <h3>Add Education</h3>
      <button class="close-btn" (click)="closePopup()">×</button>
    </div>

    <form class="popup-body" [formGroup]="formEducation">
      <label>Name</label>
      <input type="text" formControlName="name" placeholder="Enter job title" />

      <label>Degree</label>
      <input type="text" formControlName="degree" placeholder="Enter position" />



      <label>Description</label>
      <textarea formControlName="description" rows="3" placeholder="Enter description"></textarea>

      <label>From</label>
      <input type="date" formControlName="from" />

      <label>To</label>
      <input type="date" formControlName="to" />
    </form>

    <div class="popup-footer">
      <button class="save-btn" (click)="save()">Done</button>
    </div>
  </div>
</div>
