<article class="resume active">
    <header>
        <h2 class="h2 article-title">Resume</h2>
    </header>

    <!-- Education Section -->
    <section class="timeline">
        <div class="title-wrapper">
            <div class="icon-box">
                <i class="fa-solid fa-book"></i>
            </div>
            <h3 class="h3">Education</h3>
        </div>

        <ol class="timeline-list">
            <li class="timeline-item">
                  <div class="d-flex justify-content-between align-items-start">
                              <h4 class="h4 timeline-item-title mb-0">
                    Menoufia University, Faculty Of Science Department Computer Science
                </h4>
                <span>October 2021 — July 2025</span>
                  </div>
                <p class="timeline-text">
                    Studying algorithms, data structures, and programming in various languages,
                    with a focus on building scalable applications and understanding computer science principles.
                </p>
            </li>
        </ol>
    </section>

    <!-- Experience Section -->
    <section class="timeline">
        <div class="title-wrapper">
            <div class="icon-box">
                <i class="fa-solid fa-book"></i>
            </div>
            <h3 class="h3">Experience</h3>
        </div>

        <ol class="timeline-list">
            <li class="timeline-item" *ngFor="let exp of experiences">
                  <div class="d-flex justify-content-between align-items-start">
                         <h4 class="h4 timeline-item-title mb-0">{{ exp.title }}</h4>
                <span>{{ exp.date }}</span>
                  </div>
                <p class="timeline-text">{{ exp.description }}</p>
            </li>
        </ol>
    </section>

    <!-- Skills Section -->

        <!-- <section class="timeline">
        <div class="title-wrapper">
            <div class="icon-box">
                <i class="fa-solid fa-book"></i>
            </div>
        <h3 class="h3">My Skills</h3>
        </div>

        <ul class="skills-list content-card">
            <li class="skills-item" *ngFor="let skill of skills">
                <div class="title-wrapper">
                    <h5 class="h5">{{ skill.name }}</h5>
                    <data [value]="skill.value">{{ skill.value }}%</data>
                </div>
                <div class="skill-progress-bg">
                    <div class="skill-progress-fill" [style.width.%]="skill.value"></div>
                </div>
            </li>
        </ul>

    </section> -->

</article>